[Desktop Entry]
Name=Labrynth
Exec=Labrynth
Icon=reacher
Type=Application
Categories=Science;Education;
Comment=Neuroscience experiment control system
